footer {
    bottom: 0;
    font-size: small;
}

main {
    min-height: 80vh;
}

.references {
    text-align: center;
}

a {
    text-decoration: none;
    height: fit-content;
}

img {
    width: 15vw;
    max-width: 15vh;
    height: 15vw;
    max-height: 15vh;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 80vh;
    height: 60vh;
    max-height: 60vw;
}

.grid div {
    padding: 10px;

}

.card {
    width: fit-content;
    height: fit-content;
    max-width: none;
    max-height: none;
}